* {
    font-family: 'roboto', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* border: solid .5px red; */
}
html {
    overflow-x: auto;
}
body {
    font-size: 100%;
    margin: 0;
    /* By default CSS applies a small margin to the body, which results in a white/empty border around the outside of the webpage.  I overrode this default by setting the margin to 0. */
}
p {
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0;
    margin-right: 0;
  }
  /* A bit annoyingly, CSS has a set of default settings that it applies to most elements, including p and all of the headers.  You can overrate those defaults with a declaration such as this. */
h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}/* More default overrides */

h4 {
    display: block;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}/* More default style overrides */

.header-block,
.welcome-block,
.footer-block {
    background-color: #1f2937;
    padding-left: 16%;
    padding-right: 16%;
    display: flex;
    }/* Add background color to multiple blocks, as well as some horizontal padding.  Finally, enable flexbox on them as containers. */

.header-block {
    color: #e5e7eb;
    }/* text color */

.header-block div {
    display: flex;
}/* enable flexbox container */

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-items {
    flex: 1 1 0;
    justify-content: right;
    font-size: 18px;
}

.welcome-block {
    padding-top: 4rem;
    padding-bottom: 4rem;
}/* "rem" means root element.  It refers to the generic font size for the whole document.  By default, this tends to be 16px, so 4rem is effectively 4x16px.  We use rem instead of px because it scales better.  Px is an absolute value. */

.welcome-flex {
    flex: 1 1 0;    
}
.hero-text {
    font-size: 3rem;
    color: #f9faf8;
}
.welcome-subtext {
    font-size: 1.125rem;
    color: #e5e7eb
}
button.welcome-button {
    background-color: #3882f6;
    border-radius: 0.5rem;
    color: #f9faf8;
    border: none;
    height: 2rem;
}
.hero-image {
    color: #e5e7eb;
    background-color: gray;
    border: solid white;
}
.middle-block {
    padding: 2rem 16%;
}
.middle-block-header,
.middle-block-snippets {
    display: flex;
    justify-content: center;
}
.middle-block-snippets {
    padding: 2rem 0;
}
.mb-one,
.mb-two,
.mb-three,
.mb-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 1rem;
}
.mb-illus {
    border: solid #3882f6;
    border-radius: 1rem;
    height: 8rem;
    width: 8rem;
    margin-bottom: 0.5rem;
}
.quote-block {
    background-color: #e5e7eb;
    padding: 2rem 20%;
}
.quote-text {
    font-style: italic;
}
.quote-source {
    text-align: right;
    color: #1f2937;
    font-weight: 700;
}
.action-block {
    padding: 1rem 16%;
}
.action-card {
    background-color: #3882f6;
    border-radius: 5px;
    padding: 1.25rem ;
    height: 4rem;
    display: flex;
    justify-content: center;
}
.action-text {
    display: flex;
    flex-direction: column;
}
.action-text h4 {
    color: #f9faf8;
    flex: 1 0 auto;
}
.action-text p {
    color: #e5e7eb;
    flex: 1 0 auto;
}
button.action-button {
    background-color: #3882f6;
    border: solid #f9faf8;    
    border-radius: 25px;
    color: #f9faf8;
    flex-shrink: 1;
}
.footer-block {
    color: #e5e7eb;
    justify-content: center;
}
