html
{
    min-height: 100%;
}

body
{
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
}

header
{
    background-color: #1f2937;
}

nav 
{
    display: flex;
    padding: 1rem 5rem;
    align-items: center;
    justify-content: space-between;
}

.header-logo
{
    font-size: 24px;
}

.header-logo,
.hero-header,
footer p
{
    color: #f9faf8;
}

.header-items,
.hero-subtext
{
    font-size: 18px;
    color: #efe7eb;
}

.quote-block
{
    padding: 40%;
    background-color: #efe7eb;
}

.quote-text,
.quote-source
{
    color: #1f2937;
    font-style: italic;
}

.hero
{
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero-left
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hero-header
{
    font-size: 48px;
    font-weight: 750;
    grid-column: 1 / span 1;
}

.hero-subtext
{
    grid-column: 1 / span 1;
}

.button-container
{
    grid-column: 1 / span 1;
}

button
{
    background-color: #3882f6;
    border: 1px solid #efe7eb;
    border-radius: 5px;
    color: #efe7eb;
}

button:hover
{
    background-color: #2b65c3;
}

.hero-right
{
    grid-column: 2 / span 1;
    text-align: center;
    background-color: #6D747D;
    border: 1px solid #efe7eb;
}

.middle-block
{
    display: grid;
    margin: 1rem 5rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 2fr;
    justify-items: center;
}

.middle-block-header
{
    font-size: 36px;
    font-weight: 750;
    color: #1f2937;
    grid-column: 1 / span 4;
}

.mb-illus
{
    border: 2px solid #3882f6;
    height: 100px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
}

.quote-block
{
    margin: 1rem 0;
    padding: 2rem 10rem;
}

.action-card
{
    background-color: #3882f6;
    margin: 1rem 5rem;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-radius: 5px;
}

.action-text
{
    color: #efe7eb;
}

footer
{
    padding: 1rem 5rem 1rem 5rem;
    background-color: #1f2937;
    text-align: center;
}